In [1]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten
from tensorflow.keras.datasets import mnist
from tensorflow.keras.utils import to_categorical

In [6]:
import pandas as pd
train = pd.read_csv("/Users/demilade.runsewe@aics.espritscholen.nl/Desktop/Fruit Wars Folder/Deep Learning/train_black_friday.csv")
test = pd.read_csv("/Users/demilade.runsewe@aics.espritscholen.nl/Desktop/Fruit Wars Folder/Deep Learning/test_black_friday.csv")
train

train["Product_ID"] = train["Product_ID"].astype("category").cat.codes
test["Product_ID"] = test["Product_ID"].astype("category").cat.codes

In [7]:
pd.concat([train, test])

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,672,F,0-17,10,A,2,0,3,NaN,NaN,8370.0
1,1000001,2376,F,0-17,10,A,2,0,1,6.0,14.0,15200.0
2,1000001,852,F,0-17,10,A,2,0,12,NaN,NaN,1422.0
3,1000001,828,F,0-17,10,A,2,0,12,14.0,NaN,1057.0
4,1000002,2734,M,55+,16,C,4+,0,8,NaN,NaN,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,1049,F,26-35,15,B,4+,1,8,NaN,NaN,NaN
233595,1006036,2345,F,26-35,15,B,4+,1,5,8.0,NaN,NaN
233596,1006036,303,F,26-35,15,B,4+,1,1,5.0,12.0,NaN
233597,1006037,1105,F,46-50,1,C,4+,0,10,16.0,NaN,NaN
233598,1006039,2921,F,46-50,0,B,4+,1,4,5.0,NaN,NaN